* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    background-color: #e2e2e2;
}

.border {
    border: 1.25px solid transparent;
    border-radius: 2px;
}

.border:hover {
    border: 1.25px solid white;
    border-radius: 2px;
}

.pointer {
    cursor: pointer;
}

/********** [HEADER] **********/

/** --TOP SECTION-- **/

.navbar {
    height: 60px;
    width: 100%;
    min-width: 1000px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/** Box 1 **/

.nav-logo{
    margin-left: 15px;
    margin-right: 5px;
    height: 50px;
    width: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("logo.png");
    background-size: contain;
    height: 90px;
    width: 165px;
    background-position: center;
    background-repeat: no-repeat;
}

/** Box 2 **/

.nav-adderress {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 2px;
}

.add-first {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 20px;
    white-space: nowrap;
}

.add-sec {
    color: white;
    font-size: 0.875rem;
    margin-left: 4px;
    white-space: nowrap;
    font-weight: 550;
}

#icon {
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/** Box 3 **/

.nav-search {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: #febd69;
    flex: 1;
    min-width: 275px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    box-sizing: border-box;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align-last: center;
    padding: 0px 8px 0px 8px;
    border: none;
    color: #5e5a61;
    max-width: 60px;
    width: auto;
}

.search-select option {
    text-align: center;
}

.search-select:focus {
    width: auto;          
    min-width: 200px;    
}

.search-input {
    width: 100%;
    border: none;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

.search-icon {
    width: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #383634;
}

/** Box 4 **/

.nav-country-flag {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
}

.flag-icon {
    font-size: 1rem;
}

.flag-code {
    padding-left: 2px;
}

/** Box 5 **/

.nav-signin {
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.nav-first {
    font-size: 0.75rem;
    color: rgb(230, 230, 230);
    white-space: nowrap;
}

.nav-second {
    font-size: 1rem;
    color: white;
    white-space: nowrap;
}

/** Box 6 **/

.nav-order-info {
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

/** Box 7 **/

.nav-cart {
    margin-left: 5px;
    margin-right: 15px;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.cart-icon {
    font-size: 1.2rem;
    color: #e68305;
}

.cart {
    padding-top: 10px;
}


/** --PANEL SECTION-- **/

.panel {
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 1000px;
}

.panel-icon {
    margin-left: 15px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 30px;
    font: 0.8rem;
    color: white;
    gap: 5px;
}

.menu-icon {
    margin-left: 5px;
}

.icon-word {
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 5px;
}

.panel-options {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex: 1;
    white-space: nowrap;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    height: 40px;
    align-items: center;
}

.panel-options p {
    display: flex;
    font-size: 0.85rem;
    height: 30px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-weight: 500;
}

.hover-effect {
    transition: transform 0.15 ease;
}

.hover-effect:hover {
    transform: translateY(0.5px);
}

/** --HERO SECTION-- **/

.hero-section {
    position: relative;
    height: 600px;
    background: url("hero_image.jpg") top center no-repeat;
    width: 100%;
    min-width: 1000px;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 70%,var(--body-bg, #e2e2e2) 100%);
    pointer-events: none; /* so it doesn’t block clicks on content */
}

.hero-message {
    background-color: white;
    color: black;
    display: flex;
    height: 40px;
    width: 96%;
    min-width: 1000px;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    font-size: 0.875rem;
    white-space: nowrap;
}

.hero-message a {
    color: #0c3353;
    cursor: pointer;
}

/** --SHOP SECTION-- **/

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px;
    position: relative;
    top: -275px;
    z-index: 2;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 1000px;   /* ensures layout never smaller than 1000px */
    overflow-x: hidden;
}

.box {
    background-color: white;
    height: 420px;
    flex: 1 1 calc(25% - 20px);  /* 4 per row */
    min-width: 250px;
    max-width: 350px;
    padding: 20px 0 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1040px) {
    .shop-section {
        margin: 0 auto;
    }
    .box {
        flex: 1 1 calc(33.333% - 40px); /* slightly tighter layout to keep 3 per row */
        min-width: 300px;
    }
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.box-content {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.box-content p {
    color: #0c3353;
    cursor: pointer;
}

/** --FOOTER SECTION-- **/

footer {
    background-color: white;
    min-width: 1000px;
}

/** Recommendations-section **/

.footer-recommend {
    height: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-recommend button {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 30px;
    width: 15%;
    background-color: #ffd814;
    border: none;
    border-radius: 30px;
    font-size: 0.85rem;
    max-width: 250px;
}

.footer-recommend p {
    font-size: 0.65rem;
}

.footer-recommend a {
    color: blue;
    text-decoration: underline;
}

/** Back To Top-section **/

.footer-backtotop {
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.footer-backtotop p {
    font-size: 0.8rem;
    font-weight: 500;
}

/** About Us-section **/

.footer-aboutus {
    background-color: #232f3e;
    color: white;
    height: 300px;
    display: flex;
    min-width: 1000px;
    justify-content: space-between;
    padding: 0 20vw;
}

.footer-lists {
    margin-top: 30px;
}

.footer-lists ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
}

.footer-lists p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3px;
}

.footer-lists a {
    color: #dddddd;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}